.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 90%;

}

.image img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Segoe UI;
  font-size: 40px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ef3550;
}